<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GADZONE</title>

  <!-- Base variable definitions -->
  <link rel="stylesheet" href="/css/variable.css">

  <!-- Common styles -->
  <link rel="stylesheet" href="/css/layout.css">

  <!-- Page-specific styles -->
  <link rel="stylesheet" href="/css/animation.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="/css/cart.css">


  <!-- Favicon (optional) -->
  <link rel="icon" href="/images/favicon.png" type="image/png">
  {{!-- <link rel="stylesheet" href="/css/layout.css"> --}}

</head>
<body>

  <!-- Header -->
  <header>
    <nav class="navbar">
      <div class="container">
        <a href="/" class="logo">MyShop</a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    {{{body}}}
  </main>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; 2025 MyShop. All rights reserved to CHANDHU.</p>
    </div>
  </footer>

  <!-- Optional JS -->
  <script src="/js/main.js"></script>
</body>
</html>
